/* index */

html, body {
 margin: 0;
}

a {
  text-decoration: none;
}

.header-img{
  width: 100%;

}

.header-img img{
  width: 100%;
  height: 1000px;
  border: none;
  margin: none;
}

.header-text 
{
  width:100%;
  position:fixed;
  margin-top: -55%;
}

.header-text h1{
  text-align:center;
  color: white;
}

body{
  background-color: white;
  }

p{
   color: black;
    font-size: 15px;
  font-weight: 200;
   font-family: Quicksand, sans-serif;
}
  .pop{
    color: black;
    font-size: 15px;
  font-weight: 200;
   font-family: Quicksand, sans-serif;
  }

h4{
  color:black;
}
  .navbar-brand{
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
 
  
}

.navbar-nav{
  background-color: transparent;
  background-image: none;
  border: 0;
  padding-right: 40px;
  
}

.navbar{
  position: fixed;
  width: 100%;
  background-color: transparent;
  background-image: none;
   font-size: 15px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  border: 0;

  
}

audio{
  width: 30%;
  align-items: right;

}

h1{
  font-family: Quicksand, sans-serif;
  font-weight: 100;
}

/* about */

h2{
   font-family: Quicksand, sans-serif;
  font-weight: 100;
}

.carousel{
  padding: 20px;
}

button{
  color:black;
  text-decoration: none;
}

.btn{
  color:black;
  text-decoration: none;

}

.avail-btn{
  text-decoration: none;
  padding: 20px;
  margin: 20px;
}

.box{
  padding: 20px;
}


.btn.outline {
  background: none;
  padding: 12px 22px;
  border: none;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

#jo{
  position: fixed;
  left: 50px; top: 90px; z-index: 200;
}

#kyle{
position: fixed;
  left: 200px; top: 200px; z-index: 200;
}

#alice{
position: fixed;
  right: 50px; top: 90px; z-index: 200;
}

#nathan{
  position: fixed;
  right: 200px; top: 200px; z-index: 200;
}

.modal-content{
  background-color: #796E6B;
  text-align: center;

}

.modal-title{
  font-family: Quicksand, sans-serif;
  color: white;
}

.modal-body p{
  font-family: Quicksand, sans-serif;
  color: white;
  text-align: center;

}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* listen */

.container-fluid{
  width: 100%;
  margin: none;
  border: none;
  padding: 30px;

  }
audio{
  margin: 0 auto;
  text-align: center;
  width: 100%;

}


.iframe{
  padding: 40px;
}

/* gigs */

table{
  width:100%;

   }

   .booking-text{
  width:100%;
   font-family: Quicksand, sans-serif;
}
        
           td, th {
      width: 500px;
      height: 100px;
      border: 1px none #ccc;
      text-align: center;
      color: black;
       font-family: Quicksand, sans-serif;
    }
    th {
      color: grey;
      font-size: 20px;
       font-family: Quicksand, sans-serif;
    }
    body {
      padding: 1rem;
       font-family: Quicksand, sans-serif;
      font-size: 15px;
      color: red;
    }


/* availability */

.form-title{
  color: grey;
   font-family: Quicksand, sans-serif;
}
.container-form{
   left: 90px; top: 90px; z-index: 200;
  width:100%;
  position:absolute;
  margin-top: -75%;
  /*border: 2px solid gray;*/
  padding: 30px;
  margin: 0 auto; 
  width:750px;
   font-family: Quicksand, sans-serif;

}

h1{
  font-size:40px;
  font-weight: 200;

}

.row{
  margin: 0 auto;
  text-align: center;
   font-family: Quicksand, sans-serif;
}

label{
  font-size: 20px;
  color: grey;
  font-weight: 200;
   font-family: Quicksand, sans-serif;
}

.help-block{
  font-size: 15px;
  font-weight: 200;
  color: black;
   font-family: Quicksand, sans-serif;
}


.item{
 font-size: 60px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  
}

footer{
  background-color: #262626;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin: none;
  border: none;
}











