
<div class="header-img">
    <img src="img/egor.jpg" alt="band" >
    <div class="header-text">
</div>

          <a id="jo" style="color:white; font-size: 40px; font-weight: 300; text-decoration: none;" href="#" data-toggle="modal" data-target="#myModal1">Jo</a>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>I started playing the piano when I was 5 and have played most days since. In my spare time I enjoy water sports and trying my hand at some DIY.</p>
        <img class="img-responsive" src="img/eva3.jpg" alt="Jo" style="width:200px;height:220px;align-items:center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>


</div>

        </div>
      
    	

        <a id="kyle" style="color:white; font-size: 40px; font-weight: 300; text-decoration: none;" href="#" data-toggle="modal" data-target="#myModal2">Kyle</a>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Growing up I was exposed to singers like Carole King and James Taylor. It wasn't until I was 15 that I learnt some music tech and I never looked back.</p>
        <img class="img-responsive" src="img/ryan4.jpg" alt="Jo" style="width:200px;height:220px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn.outline btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
      	</div>
    		

        <a id="alice" style="color:white; font-size: 40px; font-weight: 300; text-decoration: none;" href="#" data-toggle="modal" data-target="#myModal3">Alice</a>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>I studied music technology at university and found it came naturally to me. I've been inspired by producers like Nils Frahm and Olafur Arnaulds.</p>
        <img class="img-responsive" src="img/warren8.jpg" alt="Jo" style="width:200px;height:220px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

      	</div>



        
       <a id="nathan" style="color:white; font-size: 40px; font-weight: 300; text-decoration: none;" href="#" data-toggle="modal" data-target="#myModal4">Nathan</a>

<!-- Modal -->
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Playing the piano is a necessity for me. I learnt when I was 14 and have collaborated with classical musicians and producers ever since.</p>
        <img class="img-responsive" src="img/brooke5.jpg" alt="Jo" style="width:200px;height:220px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
        </div>
</div>
</div>

<script>

$("#nathan").hover(function(){
        $(this).css('color', '#427054');
    });
    $('#nathan').mouseout(function(){
        $(this).css('color', 'white');
    });

    $("#jo").hover(function(){
        $(this).css('color', '#5D1543');
    });
    $('#jo').mouseout(function(){
        $(this).css('color', 'white');
    });

    $("#alice").hover(function(){
        $(this).css('color', '#375885');
    });
    $('#alice').mouseout(function(){
        $(this).css('color', 'white');
    });

    $("#kyle").hover(function(){
        $(this).css('color', '#987FB8');
    });
    $('#kyle').mouseout(function(){
        $(this).css('color', 'white');
    });


</script>



