
    
   <style type="text/css"> 

        
           td, th {
      width: 500px;
      height: 100px;
      border: 1px none #ccc;
      text-align: center;
    }
    th {
      color: white;
      font-size: 20px;
    }
    body {
      padding: 1rem;
      font-family: Roboto;
      font-size: 15px;
    }

        </style>

        <table>
          <tbody>
            <tr>
                <th>DATE</th>
                <th>VENUE</th>
            </tr>
            <tr>
                <td>28/02/17</td>
                <td>London</td>
                <td><a href="#" class="btn btn-default">Book</a></td>         
            </tr>
            <tr>
                <td>05/03/17</td>
                <td>Bristol</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
            <tr>
                <td>09/03/17</td>
                <td>Brighton</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
            <tr>
                <td>14/03/17</td>
                <td>Leeds</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
           </tbody>
        </table>


