<div class="header-img">
    <img src="img/robert.jpg" alt="band" >
    <div class="booking-text">
</div>
        <table><span>
          <tbody>
            <tr>
                <th>DATE</th>
                <th>VENUE</th>
                <th></th>
            </tr>
            <tr>
                <td>28/02/17</td>
                <td>London</td>
                <td><a href="#" class="btn btn-default">Book</a></td>         
            </tr>
            <tr>
                <td>05/03/17</td>
                <td>Bristol</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
            <tr>
                <td>09/03/17</td>
                <td>Brighton</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
            <tr>
                <td>14/03/17</td>
                <td>Leeds</td>
                <td><a href="#" class="btn btn-default">Book</a></td>     
            </tr>
           </tbody>
        </span></table>

</div>


