<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" class ="box">
            
    
            
  <audio controls>
  <source src="audio/We're on the same side.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<a href="https://itunes.apple.com/us/podcast/brainstorm/id755050884?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url('//linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_appstore-sm.png') no-repeat;width:61px;height:15px;"></a>
<br/>
<audio controls>
  <source src="audio/Wooden Flame.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<a href="https://itunes.apple.com/us/podcast/brainstorm/id755050884?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url('//linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_appstore-sm.png') no-repeat;width:61px;height:15px;"></a>
<br/>

            
            
        </div>
            
        


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" class="box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AtxRk7kzU0Q" frameborder="0" allowfullscreen></iframe>
        </div>


    </div>
  </div>
