<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="header-img">
    <img src="img/austin.jpg" alt="band" >
    <div class="header-text">
    <h1><span> Head down to hear us </span></h1>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class ="box">
            
    
            <audio controls>
 -  <source src="audio/We're on the same side.mp3" type="audio/mpeg">
 -Your browser does not support the audio element.
 -</audio>
 -<a href="https://itunes.apple.com/us/podcast/brainstorm/id755050884?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url('//linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_appstore-sm.png') no-repeat;width:61px;height:15px;"></a>
 -<br/>  
<audio controls>
  <source src="audio/Wooden Flame.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<a href="https://itunes.apple.com/us/podcast/brainstorm/id755050884?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url('//linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_appstore-sm.png') no-repeat;width:61px;height:15px;"></a>
<br/>
<br/>
<br/>

  <p> The main trait of Monochrome Music is their ability to improvise and tailor performance to the setting. This could be very quiet, ambient and piano-heavy, or deep, progressive and electronic - serving perfectly as background music. Notes is almost exactly what you might expect from a record like this one; it’s spare, it’s lyrical, it’s unobtrusive. The piano is put into a number of different contexts, adding electronics to create ethereal, emotion-evoking tracks such as these. 

</p>

            
            
        </div>
            
        

<!--<a href="https://geo.itunes.apple.com/us/album/piano-music/id528447805?i=528447808&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(//tools.applemusic.com/assets/shared/badges/en-gb/music-lrg.svg) no-repeat;width:115px;height:40px;"></a>-->

            <div class="col-md-12">

<iframe class="col-sm-6" width="560" height="315" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/4XMTfx30Dnc"></iframe>

<iframe class="col-sm-6" width="560" height="315" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/Vfb9GLG_7_Q"></iframe>
</div>



    </div>
  </div>
